




.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container .card {
	position: relative;
	width: 400px;
	height: 500px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
	opacity: 0.3;
	
	
}



.container .card .content .contentBx h3 {
	color:black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
}

.container .card:hover .sci  {
	display: block;
	text-align: center;
	transition: 0.5s;
}


.container .card .sci li {
	list-style: none;
	margin: 25px 10px;
	transform: translateY(80px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
	
}

.container .card .sci li a {
	color:black;
	padding: 0px 25px;
	font-size: 20px;
    text-decoration: none;
	font-weight: 500;
	border: 1px solid black;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);

	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,12,253,1) 0%, rgba(255,241,53,1) 90% );
	border-radius: 6px;
}

.container .card:hover .sci li a {
	transform: translateY(0px);
	
	
}