.footerContianer{
    width: 80%;
    height: 80px;
    text-align: left;
    padding: 70px 0;
    background:transparent;
   
}

@media only screen and (max-width:768px) {
    .footerContianer {

        text-align:center;
        
    }
}
